{% extends 'base.html' %}
{% block content %}
    <center style="margin-top: 5%;">
      <div class="camera">
        <video id="video" width="350" height="196" style="background: khaki;"></video>
        
        <img id="photo" width="350" height="196" style="border-color: khaki; display: none;" src=""/>
        <canvas id="photo2" width="1280" height="720" style="float:right; border-color: khaki; display: none;"></canvas>
      </div>
        <a href="{% url 'cam:index' %}"><button type="button" class="btn btn-light" style="border-color: dodgerblue">Thoát</button></a>
        <button id="snap" onclick="snap()" type="button" class="btn btn-primary" style="border-color: dodgerblue">Chụp ảnh</button> 
        <form action="{% url 'cam:upload_cam' %}" method="POST" enctype="multipart/form-data" id="form1" style="display:none">
          {% csrf_token %} 
          <input type="hidden"  name="image" id="hidden" style="display:none;" value="">
          <!-- <input type="submit" class="btn btn-primary" value="Dự đoán"/> -->
       </form>
    </center>

  <script>
    var canvas = document.getElementById('photo2');
    var context = canvas.getContext('2d');
    var video = document.getElementById('video');
    // Camera setup
    var constraints = { audio: false, video: { width: 1280, height: 720 } }; 
    var temp = 0;

    navigator.mediaDevices.getUserMedia(constraints)
    .then(function(mediaStream) {
      var video = document.querySelector('video');
      video.srcObject = mediaStream;
      video.onloadedmetadata = function(e) {
        video.play();
        temp = 1;
      };
    })
    .catch(function(err) { console.log(err.name + ": " + err.message); }); // always check for errors at the end.

    // Trigger photo take
    function snap(){
    // Elements for taking the snapshot

      if (temp == 1){     
        context.drawImage(video, 0, 0, 1280, 720);
        document.getElementById('photo').src = canvas.toDataURL();
        document.getElementById('hidden').value = canvas.toDataURL();
        stopStreamedVideo(video); 
        document.getElementById('video').style.display = 'none';
        document.getElementById('photo').style.display = 'inline-block';

        document.getElementById("form1").submit();
      }
    }
    // Tắt live
    function stopStreamedVideo(videoElem) {
      let stream = videoElem.srcObject;
      let tracks = stream.getTracks();

      tracks.forEach(function(track) {
        track.stop();
      });

      videoElem.srcObject = null;
    }
  </script>
  {%endblock%}